{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-12 mt-4 mb-3">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                <div id = 'chart-map' class="chart"></div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Total flock sizes, types, occurrence at each counties and states</h6>
              <p class="text-sm ">Choropleth Map</p>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm">just updated</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-12 mt-4 mb-3">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-bars" class="chart-canvas" height="500" width="500"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Total flock sizes at each states</h6>
              <p class="text-sm ">Bar Graph</p>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> just updated </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mt-4 mb-3">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-line" class="chart-canvas" height="500"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 "> Total flock sizes trend </h6>
              <p class="text-sm "> Line Graph </p>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> updated 4 min ago </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mt-4 mb-3">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-line-tasks" class="chart-canvas" height="500"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Occurrence</h6>
              <p class="text-sm ">Line Graph</p>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm">just updated</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row mb-4"> -->
        <!-- <div class="col-lg-8 col-md-6 mb-md-0 mb-4"> -->
          <!-- <div class="card"> -->
            <!-- <div class="card-header pb-0"> -->
              <!-- <div class="row"> -->
                <!-- <div class="col-lg-6 col-7"> -->
                  <!-- <h6>Projects</h6> -->
                  <!-- <p class="text-sm mb-0"> -->
                    <!-- <i class="fa fa-check text-info" aria-hidden="true"></i> -->
                    <!-- <span class="font-weight-bold ms-1">30 done</span> this month -->
                  <!-- </p> -->
                <!-- </div> -->
                <!-- <div class="col-lg-6 col-5 my-auto text-end"> -->
                  <!-- <div class="dropdown float-lg-end pe-4"> -->
                    <!-- <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false"> -->
                      <!-- <i class="fa fa-ellipsis-v text-secondary"></i> -->
                    <!-- </a> -->
                    <!-- <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable"> -->
                      <!-- <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li> -->
                      <!-- <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li> -->
                      <!-- <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li> -->
                    <!-- </ul> -->
                  <!-- </div> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="card-body px-0 pb-2"> -->
              <!-- <div class="table-responsive"> -->
                <!-- <table class="table align-items-center mb-0"> -->
                  <!-- <thead> -->
                    <!-- <tr> -->
                      <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Companies</th> -->
                      <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Members</th> -->
                      <!-- <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Budget</th> -->
                      <!-- <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Completion</th> -->
                    <!-- </tr> -->
                  <!-- </thead> -->
                  <!-- <tbody> -->
                    <!-- <tr> -->
                      <!-- <td> -->
                        <!-- <div class="d-flex px-2 py-1"> -->
                          <!-- <div> -->
                            <!-- <img src="/static/assets/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3" alt="xd"> -->
                          <!-- </div> -->
                          <!-- <div class="d-flex flex-column justify-content-center"> -->
                            <!-- <h6 class="mb-0 text-sm">Material XD Version</h6> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </td> -->
                      <!-- <td> -->
                        <!-- <div class="avatar-group mt-2"> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ryan Tompson"> -->
                            <!-- <img src="/static/assets/img/team-1.jpg" alt="team1"> -->
                          <!-- </a> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Romina Hadid"> -->
                            <!-- <img src="/static/assets/img/team-2.jpg" alt="team2"> -->
                          <!-- </a> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alexander Smith"> -->
                            <!-- <img src="/static/assets/img/team-3.jpg" alt="team3"> -->
                          <!-- </a> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jessica Doe"> -->
                            <!-- <img src="/static/assets/img/team-4.jpg" alt="team4"> -->
                          <!-- </a> -->
                        <!-- </div> -->
                      <!-- </td> -->
                      <!-- <td class="align-middle text-center text-sm"> -->
                        <!-- <span class="text-xs font-weight-bold"> $14,000 </span> -->
                      <!-- </td> -->
                      <!-- <td class="align-middle"> -->
                        <!-- <div class="progress-wrapper w-75 mx-auto"> -->
                          <!-- <div class="progress-info"> -->
                            <!-- <div class="progress-percentage"> -->
                              <!-- <span class="text-xs font-weight-bold">60%</span> -->
                            <!-- </div> -->
                          <!-- </div> -->
                          <!-- <div class="progress"> -->
                            <!-- <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </td> -->
                    <!-- </tr> -->
                    <!-- <tr> -->
                      <!-- <td> -->
                        <!-- <div class="d-flex px-2 py-1"> -->
                          <!-- <div> -->
                            <!-- <img src="/static/assets/img/small-logos/logo-atlassian.svg" class="avatar avatar-sm me-3" alt="atlassian"> -->
                          <!-- </div> -->
                          <!-- <div class="d-flex flex-column justify-content-center"> -->
                            <!-- <h6 class="mb-0 text-sm">Add Progress Track</h6> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </td> -->
                      <!-- <td> -->
                        <!-- <div class="avatar-group mt-2"> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Romina Hadid"> -->
                            <!-- <img src="/static/assets/img/team-2.jpg" alt="team5"> -->
                          <!-- </a> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jessica Doe"> -->
                            <!-- <img src="/static/assets/img/team-4.jpg" alt="team6"> -->
                          <!-- </a> -->
                        <!-- </div> -->
                      <!-- </td> -->
                      <!-- <td class="align-middle text-center text-sm"> -->
                        <!-- <span class="text-xs font-weight-bold"> $3,000 </span> -->
                      <!-- </td> -->
                      <!-- <td class="align-middle"> -->
                        <!-- <div class="progress-wrapper w-75 mx-auto"> -->
                          <!-- <div class="progress-info"> -->
                            <!-- <div class="progress-percentage"> -->
                              <!-- <span class="text-xs font-weight-bold">10%</span> -->
                            <!-- </div> -->
                          <!-- </div> -->
                          <!-- <div class="progress"> -->
                            <!-- <div class="progress-bar bg-gradient-info w-10" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </td> -->
                    <!-- </tr> -->
                    <!-- <tr> -->
                      <!-- <td> -->
                        <!-- <div class="d-flex px-2 py-1"> -->
                          <!-- <div> -->
                            <!-- <img src="/static/assets/img/small-logos/logo-slack.svg" class="avatar avatar-sm me-3" alt="team7"> -->
                          <!-- </div> -->
                          <!-- <div class="d-flex flex-column justify-content-center"> -->
                            <!-- <h6 class="mb-0 text-sm">Fix Platform Errors</h6> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </td> -->
                      <!-- <td> -->
                        <!-- <div class="avatar-group mt-2"> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Romina Hadid"> -->
                            <!-- <img src="/static/assets/img/team-3.jpg" alt="team8"> -->
                          <!-- </a> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jessica Doe"> -->
                            <!-- <img src="/static/assets/img/team-1.jpg" alt="team9"> -->
                          <!-- </a> -->
                        <!-- </div> -->
                      <!-- </td> -->
                      <!-- <td class="align-middle text-center text-sm"> -->
                        <!-- <span class="text-xs font-weight-bold"> Not set </span> -->
                      <!-- </td> -->
                      <!-- <td class="align-middle"> -->
                        <!-- <div class="progress-wrapper w-75 mx-auto"> -->
                          <!-- <div class="progress-info"> -->
                            <!-- <div class="progress-percentage"> -->
                              <!-- <span class="text-xs font-weight-bold">100%</span> -->
                            <!-- </div> -->
                          <!-- </div> -->
                          <!-- <div class="progress"> -->
                            <!-- <div class="progress-bar bg-gradient-success w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </td> -->
                    <!-- </tr> -->
                    <!-- <tr> -->
                      <!-- <td> -->
                        <!-- <div class="d-flex px-2 py-1"> -->
                          <!-- <div> -->
                            <!-- <img src="/static/assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm me-3" alt="spotify"> -->
                          <!-- </div> -->
                          <!-- <div class="d-flex flex-column justify-content-center"> -->
                            <!-- <h6 class="mb-0 text-sm">Launch our Mobile App</h6> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </td> -->
                      <!-- <td> -->
                        <!-- <div class="avatar-group mt-2"> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ryan Tompson"> -->
                            <!-- <img src="/static/assets/img/team-4.jpg" alt="user1"> -->
                          <!-- </a> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Romina Hadid"> -->
                            <!-- <img src="/static/assets/img/team-3.jpg" alt="user2"> -->
                          <!-- </a> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alexander Smith"> -->
                            <!-- <img src="/static/assets/img/team-4.jpg" alt="user3"> -->
                          <!-- </a> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jessica Doe"> -->
                            <!-- <img src="/static/assets/img/team-1.jpg" alt="user4"> -->
                          <!-- </a> -->
                        <!-- </div> -->
                      <!-- </td> -->
                      <!-- <td class="align-middle text-center text-sm"> -->
                        <!-- <span class="text-xs font-weight-bold"> $20,500 </span> -->
                      <!-- </td> -->
                      <!-- <td class="align-middle"> -->
                        <!-- <div class="progress-wrapper w-75 mx-auto"> -->
                          <!-- <div class="progress-info"> -->
                            <!-- <div class="progress-percentage"> -->
                              <!-- <span class="text-xs font-weight-bold">100%</span> -->
                            <!-- </div> -->
                          <!-- </div> -->
                          <!-- <div class="progress"> -->
                            <!-- <div class="progress-bar bg-gradient-success w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </td> -->
                    <!-- </tr> -->
                    <!-- <tr> -->
                      <!-- <td> -->
                        <!-- <div class="d-flex px-2 py-1"> -->
                          <!-- <div> -->
                            <!-- <img src="/static/assets/img/small-logos/logo-jira.svg" class="avatar avatar-sm me-3" alt="jira"> -->
                          <!-- </div> -->
                          <!-- <div class="d-flex flex-column justify-content-center"> -->
                            <!-- <h6 class="mb-0 text-sm">Add the New Pricing Page</h6> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </td> -->
                      <!-- <td> -->
                        <!-- <div class="avatar-group mt-2"> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ryan Tompson"> -->
                            <!-- <img src="/static/assets/img/team-4.jpg" alt="user5"> -->
                          <!-- </a> -->
                        <!-- </div> -->
                      <!-- </td> -->
                      <!-- <td class="align-middle text-center text-sm"> -->
                        <!-- <span class="text-xs font-weight-bold"> $500 </span> -->
                      <!-- </td> -->
                      <!-- <td class="align-middle"> -->
                        <!-- <div class="progress-wrapper w-75 mx-auto"> -->
                          <!-- <div class="progress-info"> -->
                            <!-- <div class="progress-percentage"> -->
                              <!-- <span class="text-xs font-weight-bold">25%</span> -->
                            <!-- </div> -->
                          <!-- </div> -->
                          <!-- <div class="progress"> -->
                            <!-- <div class="progress-bar bg-gradient-info w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="25"></div> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </td> -->
                    <!-- </tr> -->
                    <!-- <tr> -->
                      <!-- <td> -->
                        <!-- <div class="d-flex px-2 py-1"> -->
                          <!-- <div> -->
                            <!-- <img src="/static/assets/img/small-logos/logo-invision.svg" class="avatar avatar-sm me-3" alt="invision"> -->
                          <!-- </div> -->
                          <!-- <div class="d-flex flex-column justify-content-center"> -->
                            <!-- <h6 class="mb-0 text-sm">Redesign New Online Shop</h6> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </td> -->
                      <!-- <td> -->
                        <!-- <div class="avatar-group mt-2"> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ryan Tompson"> -->
                            <!-- <img src="/static/assets/img/team-1.jpg" alt="user6"> -->
                          <!-- </a> -->
                          <!-- <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Jessica Doe"> -->
                            <!-- <img src="/static/assets/img/team-4.jpg" alt="user7"> -->
                          <!-- </a> -->
                        <!-- </div> -->
                      <!-- </td> -->
                      <!-- <td class="align-middle text-center text-sm"> -->
                        <!-- <span class="text-xs font-weight-bold"> $2,000 </span> -->
                      <!-- </td> -->
                      <!-- <td class="align-middle"> -->
                        <!-- <div class="progress-wrapper w-75 mx-auto"> -->
                          <!-- <div class="progress-info"> -->
                            <!-- <div class="progress-percentage"> -->
                              <!-- <span class="text-xs font-weight-bold">40%</span> -->
                            <!-- </div> -->
                          <!-- </div> -->
                          <!-- <div class="progress"> -->
                            <!-- <div class="progress-bar bg-gradient-info w-40" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="40"></div> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </td> -->
                    <!-- </tr> -->
                  <!-- </tbody> -->
                <!-- </table> -->
              <!-- </div> -->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="col-lg-4 col-md-6"> -->
          <!-- <div class="card h-100"> -->
            <!-- <div class="card-header pb-0"> -->
              <!-- <h6>Orders overview</h6> -->
              <!-- <p class="text-sm"> -->
                <!-- <i class="fa fa-arrow-up text-success" aria-hidden="true"></i> -->
                <!-- <span class="font-weight-bold">24%</span> this month -->
              <!-- </p> -->
            <!-- </div> -->
            <!-- <div class="card-body p-3"> -->
              <!-- <div class="timeline timeline-one-side"> -->
                <!-- <div class="timeline-block mb-3"> -->
                  <!-- <span class="timeline-step"> -->
                    <!-- <i class="material-icons text-success text-gradient">notifications</i> -->
                  <!-- </span> -->
                  <!-- <div class="timeline-content"> -->
                    <!-- <h6 class="text-dark text-sm font-weight-bold mb-0">$2400, Design changes</h6> -->
                    <!-- <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">22 DEC 7:20 PM</p> -->
                  <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="timeline-block mb-3"> -->
                  <!-- <span class="timeline-step"> -->
                    <!-- <i class="material-icons text-danger text-gradient">code</i> -->
                  <!-- </span> -->
                  <!-- <div class="timeline-content"> -->
                    <!-- <h6 class="text-dark text-sm font-weight-bold mb-0">New order #1832412</h6> -->
                    <!-- <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">21 DEC 11 PM</p> -->
                  <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="timeline-block mb-3"> -->
                  <!-- <span class="timeline-step"> -->
                    <!-- <i class="material-icons text-info text-gradient">shopping_cart</i> -->
                  <!-- </span> -->
                  <!-- <div class="timeline-content"> -->
                    <!-- <h6 class="text-dark text-sm font-weight-bold mb-0">Server payments for April</h6> -->
                    <!-- <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">21 DEC 9:34 PM</p> -->
                  <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="timeline-block mb-3"> -->
                  <!-- <span class="timeline-step"> -->
                    <!-- <i class="material-icons text-warning text-gradient">credit_card</i> -->
                  <!-- </span> -->
                  <!-- <div class="timeline-content"> -->
                    <!-- <h6 class="text-dark text-sm font-weight-bold mb-0">New card added for order #4395133</h6> -->
                    <!-- <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">20 DEC 2:20 AM</p> -->
                  <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="timeline-block mb-3"> -->
                  <!-- <span class="timeline-step"> -->
                    <!-- <i class="material-icons text-primary text-gradient">key</i> -->
                  <!-- </span> -->
                  <!-- <div class="timeline-content"> -->
                    <!-- <h6 class="text-dark text-sm font-weight-bold mb-0">Unlock packages for development</h6> -->
                    <!-- <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">18 DEC 4:54 AM</p> -->
                  <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="timeline-block"> -->
                  <!-- <span class="timeline-step"> -->
                    <!-- <i class="material-icons text-dark text-gradient">payments</i> -->
                  <!-- </span> -->
                  <!-- <div class="timeline-content"> -->
                    <!-- <h6 class="text-dark text-sm font-weight-bold mb-0">New order #9583120</h6> -->
                    <!-- <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">17 DEC</p> -->
                  <!-- </div> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->

      {% include 'includes/footer.html' %}
    </div>

{% endblock content %}








<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <!-- Internal scripts -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.0-alpha.3/dist/chart.umd.min.js"></script>
  <!-- External scripts -->
  <script src="https://cdn.plot.ly/plotly-3.0.0.min.js" charset="utf-8"></script>
  <script src="https://d3js.org/d3.v4.js"></script>
  <script>
  
	// Getting the data from my API. 
	
	var data_map;
	var data_avian;
	var data_states;
	var state_code;
	var bar_state;
	var line_date;
	
	
	
	let requestInProgress = false;
	function sendRequest(url) {
	  if (requestInProgress) {
		console.log("Previous request is still in progress.");
		return;
	  }

	  requestInProgress = true;

	  const xhr = new XMLHttpRequest();
	  xhr.open('GET', url);

	  xhr.onload = function() {
		requestInProgress = false;
		if (xhr.status >= 200 && xhr.status < 300) {
		  console.log('Request successful:', xhr.response);
		} else {
		  console.error('Request failed:', xhr.status, xhr.statusText);
		}
	  };

	  xhr.onerror = function() {
		requestInProgress = false;
		console.error('Request error');
	  };

	  xhr.send(null);
	  
	  return JSON.parse(xhr.response);
	};


	data_map = sendRequest('/map_data');
	data_avian = sendRequest('/map_avianflu_data');
	data_states = sendRequest('/us_data');
	bar_state = sendRequest('/state_num');
	line_date = sendRequest('/time_num');
	state_code = sendRequest('/state_code');
	
	<!-- var request = new XMLHttpRequest(); -->
	<!-- request.open("GET", '/map_data', false); -->
	<!-- request.send(null); -->
	<!-- data_map = JSON.parse(request.responseText); -->
	
	<!-- var request = new XMLHttpRequest(); -->
	<!-- request.open("GET", '/map_avianflu_data', false); -->
	<!-- request.send(null); -->
	<!-- data_avian = JSON.parse(request.responseText); -->
	
	<!-- var request = new XMLHttpRequest(); -->
	<!-- request.open("GET", '/us_data', false); -->
	<!-- request.send(null); -->
	<!-- data_states = JSON.parse(request.responseText); -->
	
	<!-- var request = new XMLHttpRequest(); -->
	<!-- request.open("GET", '/state_num', false); -->
	<!-- request.send(null); -->
	<!-- bar_state = JSON.parse(request.responseText); -->
	
	<!-- var request = new XMLHttpRequest(); -->
	<!-- request.open("GET", '/time_num', false); -->
	<!-- request.send(null); -->
	<!-- line_date = JSON.parse(request.responseText); -->
	
	<!-- var request = new XMLHttpRequest(); -->
	<!-- request.open("GET", '/state_code', false); -->
	<!-- request.send(null); -->
	<!-- state_code = JSON.parse(request.responseText); -->
	
	<!-- console.log('data_map'); -->
	<!-- console.log(data_map); -->
	<!-- console.log(data_map.features.length); -->
	<!-- console.log('data_avian'); -->
	<!-- console.log(data_avian); -->
	<!-- console.log(data_avian.length); -->
	<!-- console.log('data_states'); -->
	<!-- console.log(data_states); -->
	<!-- console.log(state_code); -->
	<!-- console.log(state_code.length); -->
	<!-- console.log(data_avian); -->
	<!-- console.log(bar_state); -->
	<!-- console.log(line_date); -->
	
	
	
	<!-- Getting the state fips number  -->
	for (let i = 0; i < data_avian.length; i++) {
		for (let ii = 0; ii < data_states.features.length; ii++) {			
			if (data_avian[i].State == data_states.features[ii].properties.name) {
				data_avian[i]['State_id'] = data_states.features[ii].id
			} else {continue};
		}
	};
	
	<!-- Getting the county fips number  -->
	for (let i = 0; i < data_avian.length; i++) {
		for (let ii = 0; ii < data_map.features.length; ii++) {			
			if (data_avian[i].State_id == data_map.features[ii].properties.STATE && data_avian[i].County == data_map.features[ii].properties.NAME) {
				data_avian[i]['County_id'] = data_map.features[ii].id
			} else {continue};
		}
	};
	
	<!-- Getting the state abbreviation  -->
	for (let i = 0; i < data_avian.length; i++) {
		for (let ii = 0; ii < state_code.length; ii++) {			
			if (data_avian[i].State == state_code[ii].name) {
				data_avian[i]['State_Abbre'] = state_code[ii].code
			} else {continue};
		}
	};
	
	
	<!-- This is the choropleth map -->
	var data = [{
		type: "choropleth", 
		name: "Avian Flu in USA", 
		geojson: data_map, 
		locations: data_avian.map(function(x) {return x['County_id']}),
		z: data_avian.map(function(x) {return x['Flock size']}),
		text: data_avian.map(function(x) {return x.County + '<br>' + '<b>State: </b>' + x.State + '<br>' + '<b>Number of outbreaks: </b>' + x.Occurrence + '<br><b>Type of outbreak: </b>' +
											Array.from(new Set(x['Flock type'])).map(function(y) {return '<br>' + y})
											}),
		colorbar: {y: 0, yanchor: "bottom", title: {text: "Total Flock Size", side: "right", font: { color: 'white' }},  tickfont: { color: 'white' }},
		colorscale: 'Jet',
		hovertemplate: '<b>Flock Size:</b> %{z}<br><br><b>County:</b> %{text}<extra></extra>',
		marker: {
              line:{
                  color: 'rgb(255,255,255)',
                  width: 2
              }
          }
		}];

	var layout = {map: {style: "light", 
						center: {lon: -110, lat: 50}, 
						zoom: 2}, 
				
				width: 1100, 
				height: 500, 
				margin: {t: 0, b: 0, r: 0, l: 100, },
				paper_bgcolor: 'rgba(0,0,0,0)',
				plot_bgcolor: 'rgba(0,0,0,0)', 
				
		geo:{
			scope: 'usa',
			countrycolor: 'rgb(255, 255, 255)',
			showland: true,
			landcolor: 'rgb(217,217,217)',
			showlakes: false,
			lakecolor: 'rgb(0,0,0)',
			subunitcolor: 'rgb(255, 255, 255)',
			showocean: false,
			oceancolor: 'rgb(255, 255, 255)',
			lonaxis: {},
			lataxis: {},
			showframe: false,
			showcoastlines: false,
			bgcolor: 'rgba(0,0,0,0)',
			}
		};

	Plotly.newPlot('chart-map', data, layout, {showLink: false});
	
	
	<!-- This is the bar graph -->
    var ctx = document.getElementById("chart-bars").getContext("2d");
	
	
	const dataSets = {
        labels: bar_state.map(function(x) {return x.State}),
        datasets: [{
          label: "Flock Size",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "rgba(255, 255, 255, .8)",
          data: bar_state.map(function(x) {return x['Flock size']}),
          maxBarThickness: 6,
		  hidden: false,
        },
		{
          label: "Occurrence",
          data: bar_state.map(function(x) {return x['Occurrence']}),
		  hidden: true,
        },
		]},
    barChart_state = new Chart(ctx, {
      type: "bar",
      data: dataSets,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
			tooltip: {
				mode: 'index',
				intersect: false,
				callbacks: {
				  label: function(barChart_state) {
					var result = dataSets.datasets.map(ds => ds.label + ': ' + ds.data[barChart_state.dataIndex]);
					return result.slice(0)
					}
				}
		    },
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
			  autoSkip: false,
			  maxRotation: 90,
			  minRotation: 90,
              font: {
                size: 12,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

	
	
    var ctx2 = document.getElementById("chart-line").getContext("2d");

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: line_date.map(function(x) {return x['Year'].toString() + '-' + x['Month'].toString() + '-' + x['Day'].toString()}),
        datasets: [{
          label: "Flock Size",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: line_date.map(function(x) {return x['Flock size']}),
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");

    new Chart(ctx3, {
      type: "line",
      data: {
        labels: line_date.map(function(x) {return x['Year'].toString() + '-' + x['Month'].toString() + '-' + x['Day'].toString()}),
        datasets: [{
          label: "Occurrence",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: line_date.map(function(x) {return x['Occurrence']}),
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#f8f9fa',
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>

{% endblock javascripts %}
